@charset "utf-8";
/* CSS Document */
#box{
	width:460px;
	height:550px;
	margin:auto;
	padding:5px 30px 10px 30px;
	border:1px solid black;
	border-radius:1%;
	}
#header{
	padding:8px;
	font-family:"微软雅黑";
	}
#inflowDevice{
	font-size:18px;
	font-weight:600px;
	}
#httpxieyi{
	border:1px solid #fff;
	width:80px;height:100px;
	padding:3px;
	background:#24D38B;
	border-radius:8px;
	color:#fff;
	margin-left:30px;
	font-weight:bolder;
	}
a{text-decoration:none;}
#main{
	font-family:"微软雅黑";
	font-size:15px;
	padding:10px;
	line-height:20px;
	}
#name,#number{
	height:45px;
	width:400px;
	border:1px solid #C9C9C9;
	border-radius:3px;
	}
#mainName label,#mainNumber label,#mainSecrecy label{
	padding:2px;
	}	
#footerReset{
	height:55px;
	width:90px;
	border-radius:5px;
	background:#fff;
	color:#80848E;
	float:right;
	margin-right:20px;
	border:1px solid #CACACA;
	font-size:16px;
	}
#footerSubmit{
	height:55px;
	width:110px;
	border-radius:5px;
	margin-left:235px;
	background:#0CC2F1;
	color:#fff;
	border:1px solid #fff;
	font-size:16px;
	}
#footerSubmit:hover{
    background: #49D9FE; 
	cursor: pointer;
}
#footerReset:hover{
    background: #B4BAC9;
    color: #FFFFFF;
	cursor: pointer;
}

label{position: relative; padding:0px 60px 0px 45px; cursor: pointer;}
label input{ display: none;}
label span{ position: absolute; left: 0; top: 0; bottom: 0; width: 22px; height: 22px; margin: auto; border: 1px solid #ccc; 						border-radius: 100%;}
label span:after{ content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 13px; height: 13px; margin: auto; border-radius: 100%; background:#24D38B; transform: scale(0); transition: all .3s;}
label input:checked + span{border-color:#24D38B;  background: #fff;}
label input:checked + span:after{content:'';transform: scale(1);}


